/** Review Request Email (Addon Required: ShopMagic Reviews) **/
<p>Dear {{ user_first_name }},</p>

<p>Thank you for your recent purchase!</p>

<p>We'd like to ask you to please consider writing a review for the product(s) you've purchased. When you take time to write a review, you help other customers make a better buying decision! If you've ever read a product review, then you know how helpful they can be when deciding to place an order, which is why we'd so appreciate it if you'd take a moment to pay it forward and <b>write a review by clicking on the product link(s) below:</b></p>

<p>{{ products_ordered_review_links }} </p>

<p>Thanks so much!</p>
