/** Thank You for Your Order **/
Hi {{ user_first_name }},

<p>We're working to prepare and ship your items and will be sending an update as soon as they're shipped!</p>

<p>You ordered the following items:</p>

<p>{{ products_ordered }}</p>

<p>Order total: {{ order_total }}</p>

<p>If you have any questions or concerns, please contact us by replying to this email.</p>
